<script type="text/javascript" src="build/hidebib.js"></script>

<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publication.publication">Selected Publications</span></h1>
        </div>
    </div>

    <div class="publication">
            <table width="100%" align="center" border="0" cellpadding="0">
              <td width="75%" valign="top" align="center">
                <a href="https://scholar.google.com/citations?hl=en&user=HrrtgKkAAAAJ&view_op=list_works&sortby=pubdate"><img src="static/assets/img/landing/google-scholar-icon.png" alt="game" width="4%" style="border-style: none"></a>
                &emsp; Please see my <a href="https://scholar.google.com/citations?hl=en&user=HrrtgKkAAAAJ&view_op=list_works&sortby=pubdate"><heading>Google Scholar</heading></a> for complete publication list.
              </td> 
            </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <!-- <img src="static/assets/img/teasers/regretful.png" alt="game" height="25%" style="border-style: none"> -->
          <img src="static/assets/img/teasers/regretful.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <!-- <p><a href=""><heading>The Regretful Agent: Heuristic-Aided Navigation through Progress Estimation</heading></a><br> -->
          <font color="#2C90DE"><heading>The Regretful Agent: Heuristic-Aided Navigation through Progress Estimation</heading></font><br>
            <strong> Chih-Yao Ma</strong>, Zuxuan Wu, Ghassan AlRegib, Caiming Xiong, Zsolt Kira<br>
          <em>Under Review</em>, 2019<br>
          <!-- <div class="paper" id="regretful"> -->
            <!-- <a href="">PDF</a> / -->
            <!-- <a href=""> project page</a> / -->
            <!-- <a shape="rect" href="javascript:togglebib('regretful')" class="togglebib">bibtex</a> -->
            <!-- <pre xml:space="preserve">
@article{regretful,
Title={damn},
Author={Abhishek Das and Georgia Gkioxari 
        and Stefan Lee and Devi Parikh and Dhruv Batra},
Journal={CoRL},
Year={2018}}
            </pre>              -->
          <!-- </div> -->
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/adaframe.png" alt="game" height="25%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/adaframe.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href="https://arxiv.org/abs/1811.12432"><heading>AdaFrame: Adaptive Frame Selection for Fast Video Recognition</heading></a><br> -->
            <font color="#2C90DE"><heading>AdaFrame: Adaptive Frame Selection for Fast Video Recognition</heading></font><br>
              Zuxuan Wu, Caiming Xiong, <strong> Chih-Yao Ma</strong>, Richard Socher, Larry S Davis<br>
            <em>Under Review</em>, 2019<br>
            <div class="paper" id="adaframe">
              <a href="https://arxiv.org/abs/1811.12432">[arXiv]</a>
              <!-- <a href=""> project page</a> / -->
              <!-- <a shape="rect" href="javascript:togglebib('adaframe')" class="togglebib">bibtex</a> -->
              <!-- <pre xml:space="preserve">
  @article{adaframe,
  Title={damn},
  Author={Abhishek Das and Georgia Gkioxari 
          and Stefan Lee and Devi Parikh and Dhruv Batra},
  Journal={CoRL},
  Year={2018}}
              </pre>              -->
            <!-- </div> -->
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/selfmonitoring.png" alt="game" height="30%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/selfmonitoring.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href=""><heading>Self-Monitoring Navigation Agent via Auxiliary Progress Estimation</heading></a><br> -->
            <font color="#2C90DE"><heading>Self-Monitoring Navigation Agent via Auxiliary Progress Estimation</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Jiasen Lu, Zuxuan Wu, Ghassan AlRegib, Zsolt Kira, Richard Socher, Caiming Xiong<br>
            <em>International Conference on Learning Representations (ICLR)</em>, 2019<br>
            <strong><em>(Top 5% of reviews!)</em></strong><br>
            <div class="paper" id="selfmonitoring">
              <a href="https://openreview.net/forum?id=r1GAsjC5Fm">[OpenReview]</a> /
              <a href="https://github.com/chihyaoma/selfmonitoring-agent">[GitHub]</a> /
              <a href="project/2018/09/27/selfmonitoring.html">[Project]</a> /
              arXiv (coming soon)
              <!-- <a shape="rect" href="javascript:togglebib('selfmonitoring')" class="togglebib">bibtex</a> -->
              <!-- <pre xml:space="preserve">
  @article{selfmonitoring,
  Title={damn},
  Author={Abhishek Das and Georgia Gkioxari 
          and Stefan Lee and Devi Parikh and Dhruv Batra},
  Journal={CoRL},
  Year={2018}}
              </pre>              -->
            <!-- </div> -->
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/interaction.png" alt="game" height="25%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/interaction.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href="https://arxiv.org/abs/1711.06330"><heading>Attend and Interact: Higher-Order Object Interactions for Video Understanding</heading></a><br> -->
            <font color="#2C90DE"><heading>Attend and Interact: Higher-Order Object Interactions for Video Understanding</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Asim Kadav, Iain Melvin, Zsolt Kira, Ghassan AlRegib, Hans Peter Graf<br>
            <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2018<br>
            <div class="paper" id="interaction">
              <a href="https://arxiv.org/abs/1711.06330">[arXiv]</a> /
              <a href="https://mlatgt.blog/2018/04/02/from-object-interactions-to-fine-grained-video-understanding/"> [ML@GT Blog]</a> /
              <a href="project/2017/11/16/interact.html">[Project]</a> /
              <a href="static/assets/pdf/cvpr2018_poster_final.pdf">[Poster]</a>
              <!-- <a shape="rect" href="javascript:togglebib('interaction')" class="togglebib">bibtex</a>
              <pre xml:space="preserve">
@inproceedings{ma2018attend,
    title={Attend and Interact: Higher-Order Object Interactions for Video Understanding},
    author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
    booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},
    year={2018}
}
              </pre> -->
            </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <!-- <img src="static/assets/img/teasers/tslstm-demo-3.gif" alt="game" height="60%" style="border-style: none">
          <img src="static/assets/img/teasers/tslstm-demo-4.gif" alt="game" height="60%" style="border-style: none"> -->
          <img src="static/assets/img/teasers/tslstm-demo-3.gif" alt="game" width="25%" style="border-style: none">
          <img src="static/assets/img/teasers/tslstm-demo-4.gif" alt="game" width="25%" style="border-style: none">
        <td width="50%" valign="center">
          <!-- <p><a href="https://arxiv.org/abs/1703.10667"><heading>TS-LSTM and temporal-inception: Exploiting spatiotemporal dynamics for activity recognition</heading></a><br> -->
          <font color="#2C90DE"><heading>TS-LSTM and temporal-inception: Exploiting spatiotemporal dynamics for activity recognition</heading></font><br>
            <strong> Chih-Yao Ma*</strong>, Min-Hung Chen*, Zsolt Kira, and Ghassan AlRegib<br>
          <em>Signal Processing: Image Communication</em>, 2018<br>
          (* equal contribution)<br>
          <div class="paper" id="tslstm">
            <a href="https://arxiv.org/abs/1703.10667">[arXiv]</a> /
            <a href="https://github.com/chihyaoma/Activity-Recognition-with-CNN-and-RNN">[GitHub]</a> /
            <a href="project/2017/03/30/tslstm.html">[Project]</a>
            <!-- <a shape="rect" href="javascript:togglebib('interaction')" class="togglebib">bibtex</a> -->
            <!-- <pre xml:space="preserve">
@inproceedings{ma2018attend,
  title={Attend and Interact: Higher-Order Object Interactions for Video Understanding},
  author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
  booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},
  year={2018}
}
            </pre> -->
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/caption.png" alt="game" height="40%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/caption.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href="https://arxiv.org/abs/1711.06354"><heading>Grounded Objects and Interactions for Video Captioning</heading></a><br> -->
            <font color="#2C90DE"><heading>Grounded Objects and Interactions for Video Captioning</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Asim Kadav, Iain Melvin, Zsolt Kira, Ghassan AlRegib, Hans Peter Graf<br>
            <em>Neural Information Processing Systems (NeurIPS) Workshop on Visually-Grounded Interaction and Language</em>, 2017<br>
            <div class="paper" id="caption">
              <a href="https://arxiv.org/abs/1711.06354">[arXiv]</a>
              <!-- <a href=""> project page</a> / -->
              <!-- <a shape="rect" href="javascript:togglebib('interaction')" class="togglebib">bibtex</a> -->
              <!-- <pre xml:space="preserve">
@inproceedings{ma2018attend,
    title={Attend and Interact: Higher-Order Object Interactions for Video Understanding},
    author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
    booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},
    year={2018}
}
              </pre> -->
            </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
            <table width="100%" align="center" border="0" cellpadding="0">
              <td width="50%" valign="center" align="center">
                <!-- <img src="static/assets/img/teasers/saliency.png" alt="game" height="15%" style="border-style: none">
                <img src="static/assets/img/teasers/saliency-model.png" alt="game" height="15%" style="border-style: none"> -->
                <img src="static/assets/img/teasers/saliency.png" alt="game" width="25%" style="border-style: none">
                <img src="static/assets/img/teasers/saliency-model.png" alt="game" width="25%" style="border-style: none">
                <td width="50%" valign="center">
                <!-- <p><a href="https://jov.arvojournals.org/article.aspx?articleid=2300610"><heading>Learning-based saliency model with depth information</heading></a><br> -->
                  <font color="#2C90DE"><heading>Learning-based saliency model with depth information</heading></font><br>
                  <strong> Chih-Yao Ma</strong> and Hsueh-Ming Hang<br>
                <em>Journal of vision</em>, 2015<br>
                <div class="paper" id="saliency">
                  <a href="https://jov.arvojournals.org/article.aspx?articleid=2300610">[Paper]</a>
                  <!-- <a shape="rect" href="javascript:togglebib('interaction')" class="togglebib">bibtex</a> -->
                  <!-- <pre xml:space="preserve">
    @inproceedings{ma2018attend,
        title={Attend and Interact: Higher-Order Object Interactions for Video Understanding},
        author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
        booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},
        year={2018}
    }
                  </pre> -->
                </div>
              </td> 
              </td>
            </table>
        </div>
        <hr>


</div>
<br>