<script type="text/javascript" src="build/hidebib.js"></script>
<script type="text/javascript">
  function toggle_visibility(id) {
      var e = document.getElementById(id);
      if(e.style.display == 'block')
         e.style.display = 'none';
      else
         e.style.display = 'block';
  }
</script>

<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publication.publication">Selected Publications</span></h1>
        </div>
    </div>

    <div class="publication">
            <table width="100%" align="center" border="0" cellpadding="0">
              <td width="75%" valign="top" align="center">
                <a href="https://scholar.google.com/citations?hl=en&user=HrrtgKkAAAAJ&view_op=list_works&sortby=pubdate"><img src="static/assets/img/landing/google-scholar-icon.png" alt="game" width="4%" style="border-style: none"></a>
                &emsp; Please see my <a href="https://scholar.google.com/citations?hl=en&user=HrrtgKkAAAAJ&view_op=list_works&sortby=pubdate"><heading>Google Scholar</heading></a> for complete publication list.
              </td> 
            </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/ossod.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Open-Set Semi-Supervised Object Detection
          </heading></font><br>
          Yen-Cheng Liu, <strong> Chih-Yao Ma</strong>, Xiaoliang Dai, Junjiao Tian, Peter Vadja, Zijian He, Zsolt Kira<br>
          <em>European Conference on Computer Vision (ECCV)</em>, 2022 <strong>(Oral)</strong><br>
          [ArXiv] / [GitHub] / [Project] (coming soon)
          <!-- <a href="https://yujheli.github.io/projects/CVPR2022_assest/paper_adaptive_teacher_cvpr22.pdf">[PDF]</a> / -->
          <!-- <a href="https://github.com/facebookresearch/adaptive_teacher">[GitHub]</a> / -->
          <!-- <a href="https://yujheli.github.io/projects/adaptiveteacher.html">[Project]</a> / -->
          <!-- [<a href="javascript:void(0)" onclick="toggle_visibility('aut_bibtex');">bibtex</a>]
          <div id='aut_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{li2022cross,
  title={Cross-Domain Adaptive Teacher for Object Detection},
  author={Li, Yu-Jhe and Dai, Xiaoliang and Ma, Chih-Yao and Liu, Yen-Cheng and Chen, Kan and Wu, Bichen and He, Zijian and Kitani, Kris and Vajda, Peter},
  booktitle={IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year={2022}
} 
</code></pre>
          </div> -->
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/utv2.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Unbiased Teacher v2: Semi-supervised Object Detection for Anchor-free and Anchor-based Detectors
          </heading></font><br>
          Yen-Cheng Liu, <strong> Chih-Yao Ma</strong>, Zsolt Kira<br>
          <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2022 <br>
          <a href="https://openaccess.thecvf.com/content/CVPR2022/papers/Liu_Unbiased_Teacher_v2_Semi-Supervised_Object_Detection_for_Anchor-Free_and_Anchor-Based_CVPR_2022_paper.pdf">[PDF]</a> /
          <a href="https://github.com/facebookresearch/unbiased-teacher-v2">[GitHub]</a> /
          <a href="https://ycliu93.github.io/projects/unbiasedteacher2.html">[Project]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('ut2_bibtex');">bibtex</a>]
          <div id='ut2_bibtex' style="display:none; font-size:small;">
<pre><code>
@InProceedings{Liu_2022_CVPR,
    author    = {Liu, Yen-Cheng and Ma, Chih-Yao and Kira, Zsolt},
    title     = {Unbiased Teacher v2: Semi-Supervised Object Detection for Anchor-Free and Anchor-Based Detectors},
    booktitle = {Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)},
    month     = {June},
    year      = {2022},
    pages     = {9819-9828}
} 
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/aut.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Cross-Domain Adaptive Teacher for Object Detection
          </heading></font><br>
          Yu-Jhe Li, Xiaoliang Dai, <strong> Chih-Yao Ma</strong>, Yen-Cheng Liu, Kan Chen, Bichen Wu, Zijian He, Kris Kitani, Peter Vadja<br>
          <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2022 <br>
          <a href="https://yujheli.github.io/projects/CVPR2022_assest/paper_adaptive_teacher_cvpr22.pdf">[PDF]</a> /
          <a href="https://github.com/facebookresearch/adaptive_teacher">[GitHub]</a> /
          <a href="https://yujheli.github.io/projects/adaptiveteacher.html">[Project]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('aut_bibtex');">bibtex</a>]
          <div id='aut_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{li2022cross,
  title={Cross-Domain Adaptive Teacher for Object Detection},
  author={Li, Yu-Jhe and Dai, Xiaoliang and Ma, Chih-Yao and Liu, Yen-Cheng and Chen, Kan and Wu, Bichen and He, Zijian and Kitani, Kris and Vajda, Peter},
  booktitle={IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year={2022}
} 
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/hcm.jpg" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Hierarchical Cross-Modal Agent for Robotics Vision-and-Language Navigation</heading></font><br>
          Muhammad Zubair Irshad, <strong> Chih-Yao Ma</strong>, Zsolt Kira<br>
          <em>IEEE International Conference on Robotics and Automation (ICRA)</em>, 2021 <br>
          <a href="https://arxiv.org/abs/2104.10674">[arXiv]</a> /
          <a href="https://github.com/GT-RIPL/robo-vln">[GitHub]</a> /
          <a href="https://zubair-irshad.github.io/projects/robo-vln.html">[Project]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('hcm_bibtex');">bibtex</a>]
          <div id='hcm_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{irshad2021hierarchical,
  title={Hierarchical Cross-Modal Agent for Robotics Vision-and-Language Navigation},
  author={Muhammad Zubair Irshad and Chih-Yao Ma and Zsolt Kira},
  booktitle={Proceedings of the IEEE International Conference on Robotics and Automation (ICRA)},
  year={2021},
  url={https://arxiv.org/abs/2104.10674}
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/unbiased_teacher.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Unbiased Teacher for Semi-Supervised Object Detection</heading></font><br>
            Yen-Cheng Liu, <strong> Chih-Yao Ma</strong>, Zijian He, Chia-Wen Kuo, Kan Chen, Peizhao Zhang, Bichen Wu, Zsolt Kira, Peter Vajda<br>
          <em>International Conference on Learning Representations (ICLR)</em>, 2021 <br>
          <a href="https://arxiv.org/abs/2102.09480">[arXiv]</a> /
          <a href="https://github.com/facebookresearch/unbiased-teacher">[GitHub]</a> /
          <a href="https://ycliu93.github.io/projects/unbiasedteacher.html">[Project]</a> /
          <a href="https://openreview.net/forum?id=MJIve1zgR_">[OpenReview]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('ut_bibtex');">bibtex</a>]
          <div id='ut_bibtex' style="display:none; font-size:small;">
<pre><code>
  @inproceedings{liu2021unbiased,
    title={Unbiased Teacher for Semi-Supervised Object Detection},
    author={Liu, Yen-Cheng and Ma, Chih-Yao and He, Zijian and Kuo, Chia-Wen and Chen, Kan and Zhang, Peizhao and Wu, Bichen and Kira, Zsolt and Vajda, Peter},
    booktitle={Proceedings of the International Conference on Learning Representations (ICLR)},
    year={2021},
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/cyclical.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Learning to Generate Grounded Visual Captions without Localization Supervision</heading></font><br>
            <strong> Chih-Yao Ma</strong>, Yannis Kalantidis, Ghassan AlRegib, Peter Vajda, Marcus Rohrbach, Zsolt Kira<br>
          <em>European Conference on Computer Vision (ECCV)</em>, 2020 <br>
          <a href="https://arxiv.org/abs/1906.00283">[arXiv]</a> /
          <a href="https://github.com/chihyaoma/cyclical-visual-captioning">[GitHub]</a> /
          <a href="project/2019/06/03/cyclical.html">[Project]</a> /
          <a href="https://sites.gatech.edu/mlatgteccv/research/learning-to-generate-grounded-visual-captions-without-localization-supervision/">[ML@GT]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('cyclical_bibtex');">bibtex</a>]
          <div id='cyclical_bibtex' style="display:none; font-size:small;">
<pre><code>
  @inproceedings{ma2020learning,
    title={Learning to Generate Grounded Visual Captions without Localization Supervision},
    author={Ma, Chih-Yao and Kalantidis, Yannis and AlRegib, Ghassan and Vajda, Peter and Rohrbach, Marcus and Kira, Zsolt},
    booktitle={Proceedings of the European Conference on Computer Vision (ECCV)},
    year={2020},
    url={https://arxiv.org/abs/1906.00283},
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/featmatch.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>FeatMatch: Feature-Based Augmentation for Semi-Supervised Learning</heading></font><br>
          Chia-Wen Kuo, <strong> Chih-Yao Ma</strong>, Jia-Bin Huang, Zsolt Kira<br>
          <em>European Conference on Computer Vision (ECCV)</em>, 2020 <br>
          <a href="https://arxiv.org/abs/2007.08505">[arXiv]</a> /
          <a href="https://sites.google.com/view/chiawen-kuo/home/featmatch">[Project]</a> /
          <a href="https://github.com/GT-RIPL/FeatMatch">[GitHub]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('featmatch_bibtex');">bibtex</a>]
          <div id='featmatch_bibtex' style="display:none; font-size:small;">
<pre><code>
  @inproceedings{kuo2020featmatch,
    title={FeatMatch: Feature-Based Augmentationfor Semi-Supervised Learning},
    author={Kuo, Chia-Wen and Ma, Chih-Yao and Huang, Jia-Bin and Kira, Zsolt}, 
    booktitle={Proceedings of the European Conference on Computer Vision (ECCV)},
    year={2020},
    url={https://arxiv.org/abs/2007.08505}
  }
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/who2com.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Who2com: Collaborative Perception Via Learnable Handshake Communication</heading></font><br>
            Yen-Cheng Liu, Junjiao Tian, <strong> Chih-Yao Ma</strong>, Nathaniel Glaser, Chia-Wen Kuo, Zsolt Kira<br>
          <em>International Conference on Robotics and Automation (ICRA)</em>, 2020 <br>
          <a href="https://arxiv.org/abs/2003.09575">[arXiv]</a>
          <a href="https://github.com/GT-RIPL/MultiAgentPerception">[GitHub]</a> /
          <a href="https://ycliu93.github.io/projects/multi-agent-perception.html">[Project]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('who2com_bibtex');">bibtex</a>]
          <div id='who2com_bibtex' style="display:none; font-size:small;">
<pre><code>
  @inproceedings{liu2020who2com,
    title={Who2com: Collaborative Perception via Learnable Handshake Communication},
    author={Liu, Yen-Cheng and Tian, Junjiao and Ma, Chih-Yao and Glaser, Nathan and Kuo, Chia-Wen and Kira, Zsolt},
    booktitle={Proceedings of the IEEE International Conference on Robotics and Automation (ICRA)},
    year={2020},
    url={https://arxiv.org/abs/2003.09575},
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>
  
    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <img src="static/assets/img/teasers/prototypes.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>Manifold Graph with Learned Prototypes for Semi-Supervised Image Classification</heading></font><br>
          Chia-Wen Kuo, <strong>Chih-Yao Ma</strong>, Jia-Bin Huang, Zsolt Kira<br>
          <em>Technical Report</em>, 2019 <br>
          <a href="https://arxiv.org/abs/1906.05202">[arXiv]</a> /
          <!-- [GitHub (coming soon)] / -->
          <!-- <a href="https://github.com/chihyaoma/regretful-agent">[GitHub]</a> / -->
          <a href="https://sites.google.com/view/manifold-graph-with-prototypes/home">[Project]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('manifold_bibtex');">bibtex</a>]
          <div id='manifold_bibtex' style="display:none; font-size:small;">
<pre><code>
  @article{kuo2019manifold,
    title={Manifold Graph with Learned Prototypes for Semi-Supervised Image Classification},
    author={Kuo, Chia-Wen and Ma, Chih-Yao and Huang, Jia-Bin and Kira, Zsolt},
    journal={arXiv preprint arXiv:1906.05202},
    year={2019},
    url={https://arxiv.org/abs/1906.05202},
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <!-- <img src="static/assets/img/teasers/regretful.png" alt="game" height="25%" style="border-style: none"> -->
          <img src="static/assets/img/teasers/regretful.png" alt="game" width="50%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>The Regretful Agent: Heuristic-Aided Navigation through Progress Estimation</heading></font><br>
            <strong> Chih-Yao Ma</strong>, Zuxuan Wu, Ghassan AlRegib, Caiming Xiong, Zsolt Kira<br>
          <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2019 <strong>(Oral)</strong><br>
          <a href="https://arxiv.org/abs/1903.01602">[arXiv]</a> /
          <a href="https://github.com/chihyaoma/regretful-agent">[GitHub]</a> /
          <a href="project/2019/02/25/regretful.html">[Project]</a> /
          <a href="static/assets/pdf/cvpr2019_poster_final-compressed.pdf">[Poster]</a> /
          [<a href="javascript:void(0)" onclick="toggle_visibility('regretful_bibtex');">bibtex</a>]
          <div id='regretful_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{ma2019theregretful,
  title={The Regretful Agent: Heuristic-Aided Navigation through Progress Estimation},
  author={Ma, Chih-Yao and Wu, Zuxuan and AlRegib, Ghassan and Xiong, Caiming and Kira, Zsolt},
  booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year={2019},
  url={https://arxiv.org/abs/1903.01602},
}
</code></pre>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/adaframe.png" alt="game" height="25%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/adaframe.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href="https://arxiv.org/abs/1811.12432"><heading>AdaFrame: Adaptive Frame Selection for Fast Video Recognition</heading></a><br> -->
            <font color="#2C90DE"><heading>AdaFrame: Adaptive Frame Selection for Fast Video Recognition</heading></font><br>
              Zuxuan Wu, Caiming Xiong, <strong> Chih-Yao Ma</strong>, Richard Socher, Larry S Davis<br>
            <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2019<br>
            <div class="paper" id="adaframe">
            <a href="https://arxiv.org/abs/1811.12432">[arXiv]</a> /
            <a href="static/assets/pdf/cvpr2019_poster_adaframe-compressed.pdf">[Poster]</a> /
            [<a href="javascript:void(0)" onclick="toggle_visibility('adaframe_bibtex');">bibtex</a>]
            <div id='adaframe_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{wu2019adaframe,
  title={AdaFrame: Adaptive Frame Selection for Fast Video Recognition},
  author={Wu, Zuxuan and Xiong, Caiming and Ma, Chih-Yao and Socher, Richard and Davis, Larry S},
  booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year={2019},
  url={https://arxiv.org/abs/1811.12432},
}
</code></pre>
            </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/selfmonitoring.png" alt="game" height="30%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/selfmonitoring.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href=""><heading>Self-Monitoring Navigation Agent via Auxiliary Progress Estimation</heading></a><br> -->
            <font color="#2C90DE"><heading>Self-Monitoring Navigation Agent via Auxiliary Progress Estimation</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Jiasen Lu, Zuxuan Wu, Ghassan AlRegib, Zsolt Kira, Richard Socher, Caiming Xiong<br>
            <em>International Conference on Learning Representations (ICLR)</em>, 2019<br>
            <strong><em>(Top 7% of reviews)</em></strong><br>
            <div class="paper" id="selfmonitoring">
              <a href="https://arxiv.org/abs/1901.03035">[arXiv]</a> /
              <a href="https://openreview.net/forum?id=r1GAsjC5Fm">[OpenReview]</a> /
              <a href="https://github.com/chihyaoma/selfmonitoring-agent">[GitHub]</a> /
              <a href="project/2018/09/27/selfmonitoring.html">[Project]</a> /
              <a href="static/assets/pdf/iclr2019_poster_final-compressed.pdf">[Poster]</a> /
              <a href="https://ml.gatech.edu/hg/item/620601">[ML@GT]</a> /
              [<a href="javascript:void(0)" onclick="toggle_visibility('selfmonitoring_bibtex');">bibtex</a>]
              <div id='selfmonitoring_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{ma2019selfmonitoring,
  title={Self-Monitoring Navigation Agent via Auxiliary Progress Estimation},
  author={Ma, Chih-Yao and Lu, Jiasen and Wu, Zuxuan and AlRegib, Ghassan and Kira, Zsolt and Socher, Richard and Xiong, Caiming},
  booktitle={Proceedings of the International Conference on Learning Representations (ICLR)},
  year={2019},
  url={https://arxiv.org/abs/1901.03035},
}
</code></pre>
              </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/interaction.png" alt="game" height="25%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/interaction.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <!-- <p><a href="https://arxiv.org/abs/1711.06330"><heading>Attend and Interact: Higher-Order Object Interactions for Video Understanding</heading></a><br> -->
            <font color="#2C90DE"><heading>Attend and Interact: Higher-Order Object Interactions for Video Understanding</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Asim Kadav, Iain Melvin, Zsolt Kira, Ghassan AlRegib, Hans Peter Graf<br>
            <em>Computer Vision and Pattern Recognition (CVPR)</em>, 2018<br>
            <div class="paper" id="interaction">
              <a href="https://arxiv.org/abs/1711.06330">[arXiv]</a> /
              <a href="project/2017/11/16/interact.html">[Project]</a> /
              <a href="static/assets/pdf/cvpr2018_poster_final.pdf">[Poster]</a> /
              <a href="https://mlatgt.blog/2018/04/02/from-object-interactions-to-fine-grained-video-understanding/"> [ML@GT]</a> /
              [<a href="javascript:void(0)" onclick="toggle_visibility('attend_bibtex');">bibtex</a>]
              <div id='attend_bibtex' style="display:none; font-size:small;">
<pre><code>
@inproceedings{ma2018attend,
  title={Attend and Interact: Higher-Order Object Interactions for Video Understanding},
  author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
  booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year={2018}
}
</code></pre>
              </div>
            </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
      <table width="100%" align="center" border="0" cellpadding="0">
        <td width="50%" valign="center" align="center">
          <!-- <img src="static/assets/img/teasers/tslstm-demo-3.gif" alt="game" height="60%" style="border-style: none">
          <img src="static/assets/img/teasers/tslstm-demo-4.gif" alt="game" height="60%" style="border-style: none"> -->
          <img src="static/assets/img/teasers/tslstm-demo-3.gif" alt="game" width="25%" style="border-style: none">
          <img src="static/assets/img/teasers/tslstm-demo-4.gif" alt="game" width="25%" style="border-style: none">
        <td width="50%" valign="center">
          <font color="#2C90DE"><heading>TS-LSTM and temporal-inception: Exploiting spatiotemporal dynamics for activity recognition</heading></font><br>
            <strong> Chih-Yao Ma*</strong>, Min-Hung Chen*, Zsolt Kira, and Ghassan AlRegib<br>
          <em>Signal Processing: Image Communication</em>, 2018<br>
          (* equal contribution)<br>
          <div class="paper" id="tslstm">
            <a href="https://arxiv.org/abs/1703.10667">[arXiv]</a> /
            <a href="https://github.com/chihyaoma/Activity-Recognition-with-CNN-and-RNN">[GitHub]</a> /
            <a href="project/2017/03/30/tslstm.html">[Project]</a> /
            [<a href="javascript:void(0)" onclick="toggle_visibility('tslstm_bibtex');">bibtex</a>]
            <div id='tslstm_bibtex' style="display:none; font-size:small;">
<pre><code>
@article{ma2019ts,
  title={TS-LSTM and temporal-inception: Exploiting spatiotemporal dynamics for activity recognition},
  author={Ma, Chih-Yao and Chen, Min-Hung and Kira, Zsolt and AlRegib, Ghassan},
  journal={Signal Processing: Image Communication},
  volume={71},
  pages={76--87},
  year={2019},
  publisher={Elsevier}
}
</code></pre>
            </div>
          </div>
        </td> 
        </td>
      </table>
    </div>
    <hr>

    <div class="publication">
        <table width="100%" align="center" border="0" cellpadding="0">
          <td width="50%" valign="center" align="center">
            <!-- <img src="static/assets/img/teasers/caption.png" alt="game" height="40%" style="border-style: none"> -->
            <img src="static/assets/img/teasers/caption.png" alt="game" width="50%" style="border-style: none">
          <td width="50%" valign="center">
            <font color="#2C90DE"><heading>Grounded Objects and Interactions for Video Captioning</heading></font><br>
              <strong> Chih-Yao Ma</strong>, Asim Kadav, Iain Melvin, Zsolt Kira, Ghassan AlRegib, Hans Peter Graf<br>
            <em>Neural Information Processing Systems (NeurIPS) Workshop on Visually-Grounded Interaction and Language</em>, 2017<br>
            <div class="paper" id="caption">
              <a href="https://arxiv.org/abs/1711.06354">[arXiv]</a> /
              [<a href="javascript:void(0)" onclick="toggle_visibility('Grounded_bibtex');">bibtex</a>]
              <div id='Grounded_bibtex' style="display:none; font-size:small;">
<pre><code>
@article{ma2017grounded,
  title={Grounded Objects and Interactions for Video Captioning},
  author={Ma, Chih-Yao and Kadav, Asim and Melvin, Iain and Kira, Zsolt and AlRegib, Ghassan and Graf, Hans Peter},
  journal={arXiv preprint arXiv:1711.06354},
  year={2017}
}
</code></pre>
              </div>
            </div>
          </td> 
          </td>
        </table>
    </div>
    <hr>

    <div class="publication">
            <table width="100%" align="center" border="0" cellpadding="0">
              <td width="50%" valign="center" align="center">
                <!-- <img src="static/assets/img/teasers/saliency.png" alt="game" height="15%" style="border-style: none">
                <img src="static/assets/img/teasers/saliency-model.png" alt="game" height="15%" style="border-style: none"> -->
                <img src="static/assets/img/teasers/saliency.png" alt="game" width="25%" style="border-style: none">
                <img src="static/assets/img/teasers/saliency-model.png" alt="game" width="25%" style="border-style: none">
                <td width="50%" valign="center">
                <!-- <p><a href="https://jov.arvojournals.org/article.aspx?articleid=2300610"><heading>Learning-based saliency model with depth information</heading></a><br> -->
                  <font color="#2C90DE"><heading>Learning-based saliency model with depth information</heading></font><br>
                  <strong> Chih-Yao Ma</strong> and Hsueh-Ming Hang<br>
                <em>Journal of vision</em>, 2015<br>
                <div class="paper" id="saliency">
                  <a href="https://jov.arvojournals.org/article.aspx?articleid=2300610">[Paper]</a> /
                  [<a href="javascript:void(0)" onclick="toggle_visibility('saliency_bibtex');">bibtex</a>]
                  <div id='saliency_bibtex' style="display:none; font-size:small;">
<pre><code>
@article{ma2015learning,
  title={Learning-based saliency model with depth information},
  author={Ma, Chih-Yao and Hang, Hsueh-Ming},
  journal={Journal of vision},
  volume={15},
  number={6},
  pages={19--19},
  year={2015},
  publisher={The Association for Research in Vision and Ophthalmology}
}
</code></pre>
                  </div>
                </div>
              </td> 
              </td>
            </table>
        </div>
        <hr>


</div>
<br>